.modal {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px #333;
    min-width: 320px;
    position: fixed;
    left: 50vw;
    padding: 24px;
    top: 50vh;
    transform: translate(-50%, -50%);
}