<div class="d-flex justify-content-center flex-column mt-2">
    <button (click)="copiarEventosVisiveis()" type="button" class="btn btn-prop btn-dark align-items-center">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-clipboard" viewBox="0 0 16 16">
        <path d="M4 1.5H3a2 2 0 0 0-2 2V14a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V3.5a2 2 0 0 0-2-2h-1v1h1a1 1 0 0 1 1 1V14a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V3.5a1 1 0 0 1 1-1h1v-1z"/>
        <path d="M9.5 1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5v-1a.5.5 0 0 1 .5-.5h3zm-3-1A1.5 1.5 0 0 0 5 1.5v1A1.5 1.5 0 0 0 6.5 4h3A1.5 1.5 0 0 0 11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3z"/>
      </svg>
      Copiar eventos visíveis
    </button>
    <div *ngFor="let filtro of this.filtros">
      <button (click)="this.filtros.splice(this.filtros.indexOf(filtro), 1); eventosDisplayOrdenar()" type="button" class="btn btn-prop btn-danger mt-2 align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-funnel" viewBox="0 0 16 16">
          <path d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z"/>
        </svg>
        {{filtro.nome}}
      </button>
    </div>
    <div class="d-flex flex-row justify-content-center mt-2" *ngFor="let evento of eventosDisplay">
      <app-evento
      (exibirDescricaoEvent)="exibirAtividade($event)"
      (filtroDataEvent)="filtrarPorData($event)"
      (filtroMateriaEvent)="filtrarPorMateria($event)"
      (filtroTipoEvent)="filtrarPorTipo($event)"
      [evento]="evento"></app-evento>
    </div>
    <div *ngIf="filtroDescricaoAtivo()" class="d-flex justify-content-center p-2">
      <span *ngIf="descricaoAtividadeAtual != null; else semDescricao" style="white-space: pre-line" class="d-flex justify-content-center p-2" [innerHtml]="descricaoAtividadeAtual">
      </span>
      <ng-template #semDescricao><div style="color: #cf0000">
        Sem descrição
      </div></ng-template>
    </div>
</div>
